[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Steam Tools NG
Comment=Some useful tools to use with steam client
Icon=/usr/share/steam-tools-ng/icons/steam-tools-ng.png
Exec=steam-tools-ng-gui
Terminal=false
Categories=Game;Utility
